* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial;
    color: rgb(66, 66, 66);
}

.container {
    width: 80%;
    margin: auto;
}

.div-space {
    margin: 0px 0px 20px 0px;
}

img {
    width: 600px;
    height: auto;
    margin: 20px;
}

i {
    font-size: 50px;
    margin: 20px;
}

a {
    text-decoration: none;
    display: block;
    position: relative;
    width: 150px;
    margin: 20px;
    padding: 30px;
    border: 1px solid rgb(0, 64, 255);
    line-height: 10px;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 20px 0px;
}

.grey-rec {
    width: 100%;
    background-color: rgb(250, 249, 249);
    border: 1px solid rgb(221, 220, 220);
    border-radius: 5px;
    margin: 10px 0px;
}

.red-square1 {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(255, 0, 0);
    margin: 20px;
    transition: all 3s;
}

.red-square1:hover {
    background-color: rgb(255, 0, 0);
}

.red-square2 {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    margin: 20px;
    transition: width 2s;
}

.red-square2:active {
    width: 97%;
}

.red-square3 {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    margin: 20px;
    transition: all 2s;
}

.red-square3:hover {
    border-radius: 50%;
}

.red-square4 {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    margin: 20px;
    transition: all 3s;
    opacity: 1;
}

.red-square4:hover {
    opacity: 0;
}

.red-square5 {
    width: 60px;
    height: 60px;
    background-color: rgb(255, 0, 0);
    margin: 20px;
    transition: all 3s;
}

.red-square5:hover {
    width: 100px;
    height: 100px;
}

.red-square5:active {
    width: 20px;
    height: 20px;
}

.bnw-effect:hover {
    filter: grayscale(100%);
}

.sepia-effect {
    transition: all 2s;
}

.sepia-effect:hover {
    filter: sepia(100%)
}

.snb-effect {
    transition: all 1s;
}

.snb-effect:hover {
    filter: sepia(80%);
    border-radius: 15px;
}

.sbnd-effect {
    transition: all 2s;
}

.sbnd-effect:hover {
    filter: sepia(80%);
    border-radius: 25px;
    width: 800px;
}

.spinner-1 {
    animation: spin-countercw 1s linear infinite;
}

@keyframes spin-countercw {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.spinner-2:hover {
    animation: spin-cw 1s;
}

@keyframes spin-cw {
    0% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(270deg);
    }
}

.top-white {
    position: absolute;
    background-color: rgb(250, 249, 249);
    width: 60px;
    height: 10px;
    top: -10%;
    left: 10%;
}

.bottom-white {
    position: absolute;
    background-color: rgb(250, 249, 249);
    width: 60px;
    height: 10px;
    bottom: -10%;
    right: 10%;
}

.button:hover .linear-top {
    animation: line-top 3s linear;
}

@keyframes line-top {
    0% {
        left: 10%;
    }

    50% {
        left: calc(100% - 60px);
    }

    100% {
        left: 10%;
    }
}

.button:hover .linear-bottom {
    animation: line-bottom 3s linear;
}

@keyframes line-bottom {
    0% {
        right: 10%;
    }

    50% {
        right: calc(100% - 60px);
    }

    100% {
        right: 10%;
    }
}

.button:hover .spin-top {
    animation: spinning-top 5s linear;
}

@keyframes spinning-top {
    0% {
        left: 10%;
        top: -10px;
    }
    25% {
        left: calc(100% - 30px);
        top: -10px;
    }
    50% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -10px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}

.button:hover .spin-bottom {
    animation: spinning-bottom 5s linear;
}

@keyframes spinning-bottom {
    0% {
        bottom: -10%;
        right: 10px;
    }
    25% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    50% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -10px;
        bottom: -10px;
    }
    100% {
        bottom: -10%;
        right: 10px;
    }
}